<h1>Email Registration</h1>

<ul>
  <form method="post" action="/">

    <li><label for="email">Email</label>
    <li><input type="text" name="email" id="email"/></li>
    </li>
    <li><label for="password">Password</label>
    <li><input type="password" name="password" id="password"/></li>
    </li>
    <li>
      <input type="submit" value="Login"/>
    </li>
  </form>
</ul>